# Environment
.env
.env.local

# Dependencies
node_modules/
bun.lockb
package-lock.json
yarn.lock

# Build
dist/
build/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# Testing
coverage/

# Temp
*.tmp
.DS_Store
